<div class="flex justify-center items-center bg-usuki">
  <div class="container">
    <div class="flex items-center h-[600px]">
      <div class="w-1/2 h-auto">
        <%= image_tag "top-main.jpg", class: "h-auto w-full border-2 shadow-2xl" %>
      </div>
      <div class="w-1/2 flex justify-center items-center">
        <div class="ml-10 text-5xl 2xl:text-7xl text-center">
          <h1>その土地でしか</h1>
          <h1 class="mt-10">出会えない味を探そう</h1>
          <%= render 'shared/modal_guide' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="h-[600px]">
  <div class="flex justify-center items-center h-full">
    <%= link_to "現在位置から周辺を検索",  locations_search_path, class: "px-10 py-6 border-2 text-3xl bg-usuki", data: {turbo: false}%>
  </div>
</div>
