<div class="flex justify-center items-center mt-20 p-10 bg-usuki">
  <div class="container">
    <div class="flex items-center h-[600px]">
      <div class="w-1/2 h-auto">
        <%= image_tag "top-main.jpg", class: "h-auto w-full border-2 shadow-2xl" %>
      </div>
      <div class="w-1/2 flex justify-center items-center">
        <div class="ml-10 text-5xl 2xl:text-7xl text-center">
          <h1>あなたの旅に</h1>
          <h1 class="mt-10">素敵な思い出</h1>
          <h1 class="mt-10">添えてみませんか？</h1>
          <button class="mt-10 px-6 py-1 border-2 text-3xl 2xl:text-5xl bg-gohun">使用方法</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="h-[400px]">
  <div class="flex justify-center items-center h-full">
      <button class="px-10 py-6 border-2 text-3xl bg-usuki">現在位置から周辺を検索</button>
  </div>
</div>
