<% if object.errors.any? %>
  <div class="bg-base-yellow">
    <ul class="mt-4 text-center">
      <% object.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
