<div class="flex justify-center items-center bg-namari text-gohun h-[100px]">
  <div class="container">
    <footer class="footer items-center p-4">
      <aside class="items-center grid-flow-col">
        <a href="https://twitter.com/unnnyou" class="fa-brands fa-x-twitter fa-2x"></a>
        <a href="https://github.com/unnnyou" class="fa fa-github fa-2x ml-2"></a>
      </aside> 
      <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
        <a>利用規約</a>
        <a>プライバシーポリシー</a>
        <a>問い合わせ</a>
      </nav>
    </footer>
  </div>
</div>
