<div class="flex justify-center min-h-screen pt-20">
  <div class="container">
    <div class="mt-20 text-4xl">
      <h1>〇〇県〇〇市〇〇〇〇検索結果<h1>
    </div>
    <div class="mt-16">
      <a class="text-3xl">合計　<%= @posts.count %>件</a>
      <a class="ml-5 text-xl">新しい順</a>
      <a class="ml-3 text-xl">古い順</a>
      <a class="ml-3 text-xl">地元民のおすすめ</a>
    </div>
    <div class="my-10 flex justify-center">
      <div class="flex flex-wrap">
        <% @posts.each do |post|%>
          <div class="card w-[300px] bg-base-100 shadow-xl mt-10 mx-2 hover:opacity-50">
            <div class="indicator">
              <% if post.local %>
                <span class="indicator-item badge text-lg top-4 right-[85px] bg-usuki text-sumi">地元民のおすすめ</span>
              <% end %>
              <%= image_tag "top-main.jpg", class: "w-[300px]" %>
            </div>
            <div class="card-body bg-gohun h-[100px] p-2">
              <h2 class="card-title text-lg">
                <%= post.title%>
              </h2>
              <div class="card-actions flex justify-end items-end mt-7">
                <a>〇〇県〇〇市</a>
                <a class="ml-24"><%= post.created_at.strftime('%Y/%m/%d')%></a>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
